@media (max-width:1320px) {
    .leaders__items {
        justify-content: center;
    }
}

@media (max-width:1200px) {
    .header__nav-left,
    .header__nav {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .main__top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__top-item-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item2 {
        max-width: 526px;
        width: 100%;
        height: auto;
        padding: 73px 73px 47px 96px;
    }
    .img2 {
        max-width: 190px;
        width: 100%;
    }
    .news__box {
        flex-wrap: wrap;
        justify-content: center; 
        
    }

}


@media (max-width: 940px) {
    .footer__content {
        justify-content: center;
    }
}

@media (max-width: 660px) {
    .header__nav-list {
        justify-content: center;
        gap: 20px;
    }
    .news__box-date {
       
    }
    .main__top-item {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .leaders-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .leaders-item-img {
        margin: 40px;
    }
    .news__box-item {
        padding: 90px 60px 60px 60px;
    }
}

@media (max-width: 450px) {
    
    .header__nav-link {
        font-size: 15px; 
    }
    .leaders-item {
        max-width: 350px;
        width: 100%; 
    }
    .news__box-title {
        font-size: 15px;
    }
    .news__box-text {
        font-size: 12px;
        height: 150px;
    }
    .news__box-date {
        margin-top: 50px;
    }
    .footer__content {
        flex-direction: column;
        align-items: center;
    }
    .footer__content-list {
        align-items: center;
    }
    .footer__content-contacts,
    .footer__content-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .footer__content-text {
        text-align: center;
    } 
}